services:
    app:
        image: ihyamars/trc:1.4.1
        build:
            context: .
            dockerfile: Dockerfile
        container_name: trc-app
        restart: always
        env_file:
            - .env.production
        ports:
            - "8000:8000"
        volumes:
            - app_log_data:/app/storage/logs
            - public_data:/app/storage/app/public
        depends_on:
            - database

    database:
        image: postgres:15-alpine3.22
        container_name: trc-database
        restart: always
        environment:
            POSTGRES_USER: trc
            POSTGRES_PASSWORD: trc123
            POSTGRES_DB: trc
        ports:
            - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

    database-admin:
        image: elestio/pgadmin:latest
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@trc.com
            PGADMIN_DEFAULT_PASSWORD: admin123
            PGADMIN_LISTEN_PORT: 7000
        ports:
            - "7000:7000"
        volumes:
            - admin-config:/pgadmin4/servers.json

volumes:
    app_log_data:
    public_data:
    db_data:
    admin-config:
