@import "/vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

.fi-sidebar-header {
    @apply justify-center h-52 dark:bg-gray-950 bg-sky-900 ring-0;
}

.fi-topbar {
    @apply h-24;
}

.fi-sidebar-nav {
    @apply no-scrollbar;
}

.fi {
    @apply no-scrollbar bg-sky-950;
}

.fi-body {
    @apply bg-sky-900;
}

.fi-sidebar-item-active {
    @apply rounded-lg ring-lime-500 ring-1;
}

.fi-sidebar-item-label {
    @apply text-white;
}

.fi-sidebar-item-button {
    @apply bg-sky-900 hover:bg-sky-800 dark:bg-gray-950;
}

.fi-header-heading {
    @apply font-bold text-white;
}

.fi-topbar nav {
    @apply bg-sky-900 ring-0 dark:bg-gray-950;
}

.fi-sidebar-item-icon {
    @apply text-lime-500;
}

.fi-sidebar-group-label {
    @apply text-white;
}

.fi-breadcrumbs-item-label {
    @apply text-white;
}

.fi-btn {
    @apply bg-lime-500 hover:bg-lime-700;
}

.fi-fieldset {
    @apply border-lime-500;
}

.fi-dropdown-list-item-icon {
    @apply text-lime-500;
}

/* .fi-section {
    @apply ring-lime-500 ring-2;
} */

.fi-ac-btn-action {
    @apply hover:bg-lime-700;
}

.fi-ac-btn-group {
    @apply hover:bg-lime-700;
}

.fi-btn-icon {
    @apply text-white;
}

.fi-btn-label {
    @apply text-white;
}

.fi-sidebar-nav {
    @apply bg-sky-900 dark:bg-gray-950;
}

.fi-section-header {
    @apply px-5 py-5 bg-white rounded-lg;
}
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
